
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 2em;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}


.form-section {
    text-align: center;
    margin: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}


.info-section {
    text-align: center;
    padding: 20px;
}

.info-section p {
    font-size: 1.1em;
}


footer {
    text-align: center;
    padding: 1em;
    background-color: #3498db;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
